# =============================================
# KAMIL SHOP — Environment Variables
# Salin file ini ke .env.local dan isi semua value
# =============================================

# --- DATABASE (Supabase) ---
DATABASE_URL="postgresql://postgres:[Kamil20110913.]@db.gaqjqmnvahqxfqahvicj.supabase.co:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[Kamil20110913.]@db.gaqjqmnvahqxfqahvicj.supabase.co:5432/postgres"

# --- NEXTAUTH ---
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="r3gOxrcbXmII5XezBAFVFltBHu2i0bn3htXqdWHmQgY="

# --- PAKASIR PAYMENT GATEWAY ---
PAKASIR_SLUG="kamil13str"
PAKASIR_API_KEY="Sm4BXVIhCgvuTtyBLwQACJhqUdEW9QVF"
PAKASIR_BASE_URL="https://app.pakasir.com/api"

# --- TELEGRAM BOT ---
TELEGRAM_BOT_TOKEN="8741138981:AAGCTamiEl1vtx_6ttE7J8UOj8IyErYGTHE"
ADMIN_TELEGRAM_ID="8391235598"

# --- EMAIL (Gmail SMTP) ---
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="admin@kamilshop.my.id"
SMTP_PASS="your-gmail-app-password"

# --- APP ---
NEXT_PUBLIC_APP_URL="https://qris-rho.vercel.app"
NEXT_PUBLIC_APP_NAME="KAMIL SHOP"
ADMIN_EMAIL="admin@kamilshop.my.id"
